@{
    Layout = "_LayoutAdmin";
}

<div class="container">
    
    <a href="/Categoria" class="btn btn-default">@blogNetCore.Internacionalizacao.traducao.voltar</a>
    
    <hr />
    
    <form action="#" method="POST">
        
        <div class="form-group">
            
            <label for="descricao">@blogNetCore.Internacionalizacao.traducao.descricao: *</label>
            <input type="text" class="form-control" name="descricao" required="required" value="Categoria 1"/>
            
        </div>
        
        <hr />
        
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="@blogNetCore.Internacionalizacao.traducao.enviar"/>
        </div>
        
    </form>
    
</div>