@using System.Collections.Specialized
@{
    ViewData["Title"] = "Listagem de categorias";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    
    <a href="/Categoria/Formulario" class="btn btn-default">
        Nova categoria
    </a>
    
    <table class="table">
        
        <thead>
        <tr>
            <th>Id</th>
            <th>Descricao</th>
            <th></th>
        </tr>
        </thead>
            
        <tbody>
                
        @foreach (var categoria in ViewBag.Categorias)
        {
            <tr>
                <td>@categoria.Id</td>
                <td>@categoria.Descricao</td>
                <td>
                    <a href="/Categoria/Altera?categoriaId=@categoria.Id" class="btn btn-primary">Editar</a>
                    <a href="/Categoria/Exclui?categoriaId=@categoria.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
            
        </tbody>
            
    </table>
</div>

@section Scripts
{
    <script>

        $(document).ready(function() {
            console.log('teste');
        });

    </script>
}
