@{
    Layout = "_LayoutAdmin";
}

<div class="container">
    
    <table class="table">
        
        <thead>
        <tr>
            <th>#</th>
            <th>@blogNetCore.Internacionalizacao.traducao.nome</th>
            <th>@blogNetCore.Internacionalizacao.traducao.email</th>
            <th>@blogNetCore.Internacionalizacao.traducao.telefone</th>
            <th>@blogNetCore.Internacionalizacao.traducao.mensagem</th>
        </tr>
        </thead>
        
        <tbody>
        <tr>
            <td>1</td>
            <td>Bruno</td>
            <td>bruno@bruno.com</td>
            <td>11 1 1111-1111</td>
            <td>Teste Bruno</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Eryson</td>
            <td>eryson@eryson.com</td>
            <td>11 1 1111-1111</td>
            <td>Teste Eryson</td>
        </tr>
        </tbody>
        
    </table>
    
</div>