@model blogNetCore.Models.Contato

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Deseja manter contato? Preencha o formulário abaixo!</p>
            <form action="/Home/SendContato" method="POST">
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Nome</label>
                        <input type="text" class="form-control" placeholder="Nome" id="name" name="contato.Name" required data-validation-required-message="Seu nome.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>E-mail</label>
                        <input type="email" class="form-control" placeholder="E-mail" id="email" name="contato.Email" required data-validation-required-message="Seu melhor email.">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Telefone</label>
                        <input type="tel" class="form-control phone-mask" placeholder="Telefone" id="phone" name="contato.Phone" required data-validation-required-message="Seu melhor telefone..">
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Mensagem</label>
                        <textarea rows="5" class="form-control" placeholder="Mensagem" id="message" name="contato.Message" required data-validation-required-message="Sua Mensagem."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>