
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Através da criação do Blog NET Core, esperamos ter conseguido agregar todo conhecimento da plataforma robusta que é o .NET. Visando o uso em multiplataforma, utilizamos o .NET Core 2.0. Agregamos bastante conhecimento ao projeto para ter o resultado final extremamente satisfatório.</p>
        </div>
    </div>
</div>