@{
    ViewData["Title"] = "Formulario";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    
    <a href="/Produto" class="btn btn-default">
        Voltar
    </a>
    
    <form action="/Produto/Adiciona" method="POST">
        
        <div class="form-group">
            <label for="categoria">Categoria: </label>
            <select class="form-control" name="categoria" id="categoria">

                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.Id">@categoria.Descricao</option>
                }

            </select>
        </div>
        
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" name="produto.Nome" id="nome" />
        </div>
        
        <div class="form-group">
            <label for="quantidade">Quantidade:</label>
            <input type="text" class="form-control" name="produto.Quantidade" id="quantidade" />
        </div>
        
        <div class="form-group">
            <label for="preco">Preço:</label>
            <input type="text" class="form-control" name="produto.Preco" id="preco" />
        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Gravar"/>
        </div>
        
    </form>
    
</div>