@{
    ViewData["Title"] = "Listagem de produtos";
}
<h2>@ViewData["Title"]</h2>

<div class="container">
    
    <a href="/Produto/Formulario" class="btn btn-default">
        Novo Produto
    </a>
    
    <table class="table">
        
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th></th>
        </tr>
        </thead>
            
        <tbody>
                
        @foreach (var produto in ViewBag.Produtos)
        {
            <tr>
                <td>@produto.Id</td>
                <td>@produto.Nome</td>
                <td>@produto.Quantidade</td>
                <td>
                    <a href="/Produto/Altera?produtoId=@produto.Id" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        }
            
        </tbody>
            
    </table>
</div>